h1{ text-align: center; text-shadow: 20px; color:rgba(237, 230, 230, 0.912); font-style: italic;}
div{ border: 2px solid; width: 40%;  float: left; margin:20px;  text-align: justify;}
.ff{margin-left: 10%;}
a{ text-decoration: none;}
body{border: 3px solid burlywood;}
header{ background-image: url(h.jpg);}